<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift-a-Cheer</title>
    <link rel="stylesheet" href="/css/styles1.css">

        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V8VKPWQFFT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-V8VKPWQFFT');
    </script>
</head>
<body>
    <div class="container">
        <img src="/images/logoA.png" alt="Logo" class="logo">
        <h1 class="header">Welcome to the Gift-a-Cheer Website</h1>
        <p class="description">
            We have embarked on Objectives and Key Results (OKRs) for this year's work deliverables. <br>
            OKRs help provide clarity on our priorities and reduce abortive work. 
            Achieving the agreed OKRs, however, is not a walk in the park. <br>
            We need these four superpowers: <strong>Focus</strong>, <strong>Align</strong>, <strong>Track</strong>, and <strong>Stretch</strong>.
            We will also need our ABCs: <strong>Agility, Boldness, and Courage</strong>. <br>
            To do so, we all need some doses of cheer from time to time, <strong class="bold-word">so let's Gift-a-Cheer</strong> to each other in our OKR journey!
        </p>
        <div class="buttons">
            <button onclick="navigateTo('page2')">Share your OKRs here</button>
            <button onclick="navigateTo('page3')">Gift-a-Cheer</button>
        </div>
    </div>

    <div class="disclaimer">
        <p class="disclaimer-text">
            Disclaimer: <br>
            This website is created for learning purposes only.
            The information provided here should not be considered professional advice. <br>
            Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. <br>
            Any actions you take based on the contents of this website are at your own risk.
            We are not liable for any losses or damages incurred from the use of this website.
        </p>
    </div>

    <script>
        function navigateTo(page) {
            window.location.href = `/${page}`;
        }
    </script>

    <script src="/js/scripts1.js"></script>
</body>
</html>
