<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift-a-Cheer to Your Colleagues and Friends!</title>
    <link rel="stylesheet" href="/css/styles3.css">
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V8VKPWQFFT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V8VKPWQFFT');
</script>

</head>
<body>
    <div class="container">
        <p class="intro-paragraph"><strong>Gift-a-Cheer to Your Colleagues and Friends Today!</strong></p>
        <table id="okrTable">
            <thead>
                <tr>
                    <th>Objective</th>
                    <th>Key Results</th>
                    <th>Owner</th>
                    <th>Target End-Date</th>
                    <th>Progress</th>
                    <th>Gift</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">Complete Project Alpha</td>
                    <td>Finish coding tasks</td>
                    <td>John Doe</td>
                    <td class="end-date">2024-06-30</td>
                    <td class="progress">🚶</td>
                    <td>
                        <div class="cheer-section">
                            <div class="thumbs-up">
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                            </div>
                            <textarea class="cheer-input" placeholder="I want to say (max 250 characters)"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Prepare documentation</td>
                    <td>Jane Smith</td>
                    <td class="end-date">2024-07-15</td>
                    <td class="progress">🏃</td>
                    <td>
                        <div class="cheer-section">
                            <div class="thumbs-up">
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                            </div>
                            <textarea class="cheer-input" placeholder="I want to say (max 250 characters)"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">Launch Marketing Campaign</td>
                    <td>Design marketing materials</td>
                    <td>Michael Brown</td>
                    <td class="end-date">2024-08-01</td>
                    <td class="progress">🚀</td>
                    <td>
                        <div class="cheer-section">
                            <div class="thumbs-up">
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                            </div>
                            <textarea class="cheer-input" placeholder="I want to say (max 250 characters)"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Implement social media strategy</td>
                    <td>Emily Davis</td>
                    <td class="end-date">2024-08-15</td>
                    <td class="progress">🙌</td>
                    <td>
                        <div class="cheer-section">
                            <div class="thumbs-up">
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                            </div>
                            <textarea class="cheer-input" placeholder="I want to say (max 250 characters)"></textarea>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <!-- Data will be inserted here by JavaScript -->
            </tbody>
        </table>
        <button onclick="navigateTo()">Back to Home</button>
    </div>
    <script>
        function navigateTo() {
            window.location.href = `/`;
        }
    </script>
    <script src="/js/scripts3.js"></script>
</body>
</html>
