<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift-a-Cheer to Your Colleagues and Friends!</title>
    <link rel="stylesheet" href="/css/styles3.css">
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V8VKPWQFFT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V8VKPWQFFT');
</script>

</head>
<body>
    <div class="container">
        <p class="intro-paragraph"><strong>Gift-a-Cheer to Your Colleagues and Friends Today!</strong></p>
        <table id="okrTable">
            <thead>
                <tr>
                    <th>Objective</th>
                    <th>Key Results</th>
                    <th>Owner</th>
                    <th>Target End-Date</th>
                    <th>Progress</th>
                    <th>Gift</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">Complete TechUp Web App</td>
                    <td>Build HTML</td>
                    <td>YL</td>
                    <td class="end-date">2024-05-15</td>
                    <td class="progress">🙌</td>
                    <td>
                        <div class="cheer-section">
                            <div class="thumbs-up">
                              <span class="thumbs thumbs-up" onclick="toggleThumbs(this)">&#x1F44D;</span>
                              <span class="thumbs thumbs-up" onclick="toggleThumbs(this)">&#x1F44D;</span>
                              <span class="thumbs thumbs-up" onclick="toggleThumbs(this)">&#x1F44D;</span>
                              <span class="thumbs thumbs-up" onclick="toggleThumbs(this)">&#x1F44D;</span>
                              <span class="thumbs thumbs-up" onclick="toggleThumbs(this)">&#x1F44D;</span>
                            </div>
                                                     
                        <textarea class="cheer-input" placeholder="I want to say (max 250 characters)"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Prepare documentation</td>
                    <td>Jane Smith</td>
                    <td class="end-date">2024-07-15</td>
                    <td class="progress">🏃</td>
                    <td>
                        <div class="cheer-section">
                            <div class="thumbs-up">
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                            </div>
                            <textarea class="cheer-input" placeholder="I want to say (max 250 characters)"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">Launch Marketing Campaign</td>
                    <td>Design marketing materials</td>
                    <td>Michael Brown</td>
                    <td class="end-date">2024-08-01</td>
                    <td class="progress">🚀</td>
                    <td>
                        <div class="cheer-section">
                            <div class="thumbs-up">
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                            </div>
                            <textarea class="cheer-input" placeholder="I want to say (max 250 characters)"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Implement social media strategy</td>
                    <td>Emily Davis</td>
                    <td class="end-date">2024-08-15</td>
                    <td class="progress">🙌</td>
                    <td>
                        <div class="cheer-section">
                            <div class="thumbs-up">
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                                <span class="thumbs" onclick="toggleThumbs(this)">&#x1F44D;</span>
                            </div>
                            <textarea class="cheer-input" placeholder="I want to say (max 250 characters)"></textarea>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <!-- Data will be inserted here by JavaScript -->
            </tbody>
        </table>
        <button onclick="navigateTo('home')">Home</button>
    </div>

    <!-- Disclaimer -->
    <div class="disclaimer">
        <p class="disclaimer-text">
            Disclaimer: <br>
            This website is created for learning purposes only.
            The information provided here should not be considered professional advice. <br>
            Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. <br>
            Any actions you take based on the contents of this website are at your own risk.
            We are not liable for any losses or damages incurred from the use of this website.
        </p>
    </div>
</div>


    <script src="/js/scripts3.js"></script>
</body>
</html>
